#admin-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  #management-buttons {
    flex-direction: row;
  }

  #project-list {
    width: 80%;
    margin: 20px auto;

    .collection {
      margin: 0;
      text-align: left;
    }

    .collection-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  #user-list {
    width: 80%;
    margin: 20px auto;

    .collection {
      margin: 0;
      text-align: left;
    }

    .collection-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
      align-items: center;
    }

    #user-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 5px 10px;
    }

    #pair-container {
      display: flex;
      width: 100%;

      .col {
        display: flex;
        justify-content: space-between;
        border-right: 1px solid lightgrey;
        padding: 10px;
        align-items: center;

        .count-label {
          font-weight: 500;
          color: teal;
        }
      }
    }

    .admin-filter {
      padding: 20px;
      background-color: lightgrey;
      margin-bottom: 10px;
      color: green;

      .filter {
        margin-right: 30px;

        select {
          margin-bottom: 10px;
        }

        label {
          color: teal;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }
}
