#contribute-body {
  margin: 20px;

  #project-info {
    padding: 20px;
  }

  .contribute-info {
    padding: 30px;
  }

  #contribute-title {
    text-align: center;
  }

  #contribute-btn {
    margin-top: 20px;
  }
}
